@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  box-sizing: border-box;
}

.no-matching-items {
  grid-column: 1 / 4;
  margin: 30px auto;
  font-size: 2rem;
  font-weight: 700;
}

.empty-cart-span {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 75px;
  display: block;
  text-align: center;
}

.pop-up-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,0.5);
  z-index: 1000;
}

.shopping-cart {
  box-shadow: 0 0 5px;
  z-index: 1001;
}

.check-out {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.check-out-button {
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color:#3d94f6;
  border-radius:28px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}

.cart-title {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 5px 40px 0 10px;
}

.cart-item-list {
  width: 90%;
  height: 180px;
  margin: 0 auto;
  overflow-y: auto;
}

.cart-item {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 0.4fr 0.5fr 2fr .5fr .5fr .5fr;
  align-items: center;
}

.cart-item i {
  color: lightgrey;
}

.cart-item i:hover {
  color: black;
  cursor: pointer;
}

.cart-item img {
  width: 2rem;
}

.cart-item input {
  width: 3rem;
}

.shopping-cart {
  position: fixed;
  width: 500px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  background: white;
}

.item-popup-x {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 1.3rem;
  cursor: pointer;
}

.add-to-cart {
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color:#3d94f6;
    border-radius:28px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight:bold;
    padding:6px 12px;
    margin-top: 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
  }
  .add-to-cart:hover:enabled, .check-out-button:hover:enabled {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color:#1e62d0;
  }
  .add-to-cart:active:enabled, .check-out-button:active:enabled {
    position:relative;
    top:1px;
  }

.add-to-cart:disabled, .check-out-button:disabled {
  background: grey;
  border: none;
  text-shadow: none;
  cursor: auto;
}

.size-select {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 5px;
}

.size-select input {
  width: 60%;
  text-align: center;
}

.item-popup {
  display: flex;
  position: relative;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 0 0 10px;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  position: fixed;
  background: white;
  z-index: 1001;
}

.item-popup-title-bar {
  display: flex;
  height: 15%;
  border-bottom: 1px solid black;
}

.item-popup-name {
  width: 70%;
  font-size: 2rem;
  background: lightgrey;
  padding-left: 10px;
}
.item-popup-price {
  width: 30%;
  font-size: 2rem;
  text-align: center;
  background: white;
}

.item-popup-item-area {
  display: flex;
  height: 85%;
}

.item-popup-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px;
  border-right: 1px solid black;
}

.item-popup-purchase {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-cart-icon {
  position: relative;
  margin-left:auto;
  cursor: pointer;
}

.shopping-cart-icon i {
  font-size: 1.7rem;
}

.shopping-cart-icon span {
  display:flex;
  justify-content: center;
  align-items: center;
  background: red;
  width: 1.4rem;
  height: 1.4rem;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
}

.shop-item {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  min-width: 160px;
  width: 100%;
  height: 280px;
  box-shadow: 0 0 5px rgb(0,0,0,0.5);
  grid-template-areas: 
    "img    img"
    "name   name"
    "price  sizes";
  grid-template-rows: 5fr 1fr 1fr;
  padding: 3px 0;
}

.shop-item:hover .overlay {
  background: rgb(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.shop-item h4 {
  grid-area: name;
  font-size: 1.4rem;
  margin: 0;
}

.item-image {
  grid-area: img;
  width: 80%;
  max-height: 200px;
}

.items-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px 0 10px 10px;
  gap: 20px;
}

.item-sizes {
  display:flex;
  grid-area: sizes;
}

.item-price {
  grid-area: price;
  font-size: 1.5rem;
}

.size-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 5px;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 700;
  background: lightblue;
  border-radius: 6px;
}

.content-wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.app {
  position: relative;
}

.brand {
  font-size: 1.7rem;
}

.filter-box {
  background-color: rgb(195, 195, 195);
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 10px;
}

.shopping-area {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.type-flex-box {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.color-select-box {
  display: flex;
  justify-content: space-evenly;
}

.color-select-off {
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  cursor: pointer;
}

.color-select-on {
  width: 1.3rem;
  height: 1.3rem;
  border: 3px solid white;
  border-radius: 100%;
  cursor: pointer;
}

.color-select-on-yellow {
  width: 1.3rem;
  height: 1.3rem;
  border: 3px solid black;
  border-radius: 100%;
  cursor: pointer;
}

.type-flex-box input {
  margin-right: 5px;
}

.price-slider-container {
  display: flex;
  justify-content: center;
}

.price-slider {
  width: 90%;
  text-align: center;
}

.price-range-container {
  display: flex;
  justify-content: space-between;
}

.size-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 200px;
  margin: 0 auto;
}

.size-grid div {
  text-align: center;
}

.dropdown {
  visibility: hidden;
}

.dropdown-menu {
  max-width: 380px;
  max-height: 380px;
  overflow-y: auto;
}

.category-display {
  display: grid;
  grid-template-areas: 
    ".   title"
    ".   category-area";
  
  grid-template-columns: 1fr auto;
  background-size: cover;
  height: 380px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  }

.category-display h2 {
  grid-area: title;
  margin-top: 70px;
  font-size: 2.2rem;
}

#category-list-button {
  display: none;
}

.category-area {
  grid-area:category-area;
  display: flex;
}

.category-area ul {
  list-style: none;
  column-count: 3;
  column-gap: 60px;
}

@media (max-width:650px) {
  .category-display {
    display: none;
  }

  .items-area {
    grid-template-columns: 1fr 1fr;
    margin: 15px 0 0 0;
    gap: 20px;
  }

  .shopping-area {
    grid-template-columns: 1fr;
  }
  
  .filter-controls {
    display: grid;
    grid-template-areas:
      "type   type"
      "color  color"
      "size   price";
    grid-template-columns: 1fr 1fr;
  }

  .type-flex-box {
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0;
  }
  .type-filter {
    grid-area: type;
  }

  .color-filter {
    grid-area: color;
  }

  .dropdown {
    visibility: visible;
  }
}

@media(max-width: 775px) {
  .items-area {
    grid-template-columns: 1fr 1fr;
  }
}